@keyframes spin-eng {
    0% {
        top: 112px;
        left: 350px;
    }
    /* 25%{
        top: 87px;
        left: 294px
    } */
    50%{
        top: 74px;
        left: 236px;
    }
    100%{
        top: -27px;
        left: 172px;
    }
}
@keyframes spin-ita {
    0% {
        top: 112px;
        left: 350px;
    }
    100%{
        top: -97px;
        left: 361px;
    }
}
@keyframes spin-portu {
    0% {
        top: 123px;
        left: 361px;
    }
    50%{
        top: 58px;
        left: 457px;
    }
    100%{
        top: 9px;
        left: 542px;
    }
}
@keyframes spin-portu-mr {
    0% {
        top: 123px;
        left: 361px;
    }
    100%{
        top: 176px;
        left: 581px;
    }
}
@keyframes spin-portu-ml {
    0% {
        top: 123px;
        left: 361px;
    }
    100%{
        top: 176px;
        left: 145px;
    }
}
@keyframes myOrbit-ita {
    from {
        top: 112px;
        left: 350px; 
        transform: rotate(-90deg) translateX(220px) rotate(90deg); }
    to   {
        top: 112px;
        left: 350px;  
        transform: rotate(270deg) translateX(220px) rotate(-270deg); }
}
@keyframes myOrbit-eng {
    from { 
        top: 112px;
        left: 350px;
        transform: rotate(-140deg) translateX(220px) rotate(140deg); }
    to   {
        top: 112px;
        left: 350px; 
        transform: rotate(220deg) translateX(220px) rotate(-220deg); }
}
@keyframes myOrbit-portu {
    from { 
        top: 123px;
        left: 361px;
        transform: rotate(-35deg) translateX(220px) rotate(35deg); }
    to   {
        top: 123px;
        left: 361px; 
        transform: rotate(325deg) translateX(220px) rotate(-325deg); }
}

@keyframes myOrbit-portu-mr {
    from { 
        top: 123px;
        left: 361px;
        transform: rotate(14deg) translateX(222px) rotate(-14deg); }
    to   {
        top: 123px;
        left: 361px; 
        transform: rotate(374deg) translateX(222px) rotate(-374deg); }
}
@keyframes myOrbit-portu-ml {
    from { 
        top: 123px;
        left: 361px;
        transform: rotate(-194deg) translateX(222px) rotate(194deg); }
    to   { 
        top: 123px;
        left: 361px;
        transform: rotate(166deg) translateX(222px) rotate(-166deg); }
}
.p-a{
    position: absolute;
    z-index: -2;
}
.animation__container-all{
    position: absolute;
    width: 836px;
    height: 557px;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.animation-conteiner{
    display: flex;
    position: relative;
    
}

.animation__girl{
    z-index: -1;
}
.animation__eng{
    top: 112px;
    left: 350px;
    animation: spin-eng 2s linear 1 .4s forwards, myOrbit-eng  12s linear 4s infinite;
}
.animation__ita{
    top: 123px;
    left: 361px;
    animation: spin-ita 2s linear 1 .8s forwards, myOrbit-ita  12s linear 4s infinite;

}
.animation__portu{
    top: 123px;
    left: 361px;
    animation: spin-portu 2s linear 1 1.2s forwards, myOrbit-portu  12s linear 4s infinite;
}
.animation__portu-mr{
    top: 123px;
    left: 361px;
    animation: spin-portu-mr 2s linear 1 1.6s forwards, myOrbit-portu-mr  12s linear 4s infinite;
}
.animation__portu-ml{
    top: 123px;
    left: 361px;
    animation: spin-portu-ml 2s linear 1 2s forwards, myOrbit-portu-ml  12s linear 4s infinite; 
}
.animation__circle{
    border: #E8E8E8 solid 2px;
    width: 450px;
    height: 450px;
    z-index: -3;
    border-radius: 50%;
    top: -52px;
    left: 187px;
}
.animation__circle_green{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    z-index: -2;
    background-color: #48B774;
    top: 77px;
    left: 275px;
}
