.main-info {
    padding-top: 120px;
    min-width: 478px;
}

.main-info__text {
    max-width: 375px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #2D2D2D;
    margin: 0;
}

.main-info__text_orange {
    color: #FF8345;
}

.main-info__text_bank {
    max-width: 475px;
    margin-bottom: 22px;
}

.main-info__paragraph {
    max-width: 444px;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #7C7C7C;
    margin: 0 0 30px;
}

.button_main {
    width: 130px;
    height: 46px;
    border-radius: 30px;
    font-size: 15px;
    line-height: 22px;
}

@media screen and (max-width: 630px) {
    .main-info {
        width: 100%;
        min-width: 100%;
    }
    .main-info__text{
        width: 100%;
        font-size: 28px;
        line-height: 45px;
    }
    .main-info__paragraph{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main-info {
        padding-top: 50px;
    }
}