.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1108px;
    margin: 0 auto;
    padding-top: 30px;
}

.header__navigations {
    display: flex;

}

.header__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    align-self: center;
    margin: 0;
    padding: 0;
}

.header__link-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4A4A4A;
    text-decoration: none;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 108px;
    height: 42px;
    border: none;
    background-color: #48B774;
    border-radius: 20px;
    align-self: center;
}

.header__logo-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.header__logo {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #48B774;
}

.header__logo-circle {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    align-self: center;
    border: #F9A779 5px solid;
}

.header__name {
    margin: 0;
    align-self: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #2D2D2D;
}


.side-menu,
.hamb-line {
    display: none;
}


@media screen and (max-width: 1130px) {
    .header {
        max-width: calc(100% - 60px);
        margin-left: 30px;
    }
}

@media screen and (max-width: 630px) {
    .header__links {
        gap: 10px;
    }
}

@media screen and (max-width: 580px) {
    .header{
        padding-top: 10px;
    }
    .header__navigations {
        display: none;
    }

    .header__links {
        flex-direction: column;
    }

    .header__logo-circle {
        width: 24px;
        height: 24px;
        border-width: 3px;
    }

    .header__logo,
    .header__name {
        font-size: 20px;
        line-height: 25px;
    }

    .header__logo-container {
        gap: 4px;
    }
    .header__link-text {
        font-size: 12px;
        line-height: 20px;
    }

    .button {
        font-size: 12px;
        line-height: 20px;
        width: 88px;
        height: 40px;
    }

    .hamb {

        cursor: pointer;
        float: right;
        padding: 40px 20px;
    }

    /* Style label tag */

    .hamb-line {
        background: black;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;

    }

    /* Style span tag */

    .hamb-line::before,
    .hamb-line::after {
        background: black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .hamb-line::before {
        top: 5px;
    }

    .hamb-line::after {
        top: -5px;
    }

    .side-menu {
        display: none;
    }

    /* .side-menu:checked~.header__navigations {
        display: flex;
        flex-direction: column;
    } */
    .side-menu:checked~.header__navigations {
        display: flex;
    }

    .side-menu:checked~.hamb .hamb-line {
        background: transparent;
    }

    .side-menu:checked~.hamb .hamb-line::before {
        transform: rotate(-45deg);
        top: 21px;
    }

    .side-menu:checked~.hamb .hamb-line::after {
        transform: rotate(45deg);
        top: 21px;
    }
}
@media screen and (max-width: 430px) {
    .header__logo-container{
        display: none;
    }
}